<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h1 class="text-center">Add Food to <%= @inventory.name %></h1>

      <%= form_for [@inventory, @inventory_food], html: { class: 'form', style: 'margin: 0' } do |f|
      %>
      <div class="form-group mb-4">
        <%= f.label :food_id, 'Food' %> <%= f.collection_select :food_id,
        Food.all, :id, :name, { prompt: 'Select a Food' }, class: 'form-control'
        %>
      </div>
      <div class="form-group">
        <%= f.label :quantity %> <%= f.number_field :quantity, class:
        'form-control' %>
      </div>
      <div class="text-left mt-3">
        <%= f.submit 'Add Food', class: 'btn btn-success' %>
      </div>
      <div class="text-left">
      <% end %> <%= link_to 'Back', inventory_path(@inventory), class: 'btn
      btn-secondary mt-3' %>
    </div>
  </div>
</div>
