<tr>
  <td>
    <%= recipe_food.food.name %>
  </td>
  <td>
    <%= recipe_food.quantity %>
    <%= recipe_food.food.measurement_unit %>
  </td>
  <td>
    <%= recipe_food.calculated_total_value(recipe_food.quantity,recipe_food.food.price) %>
  </td>
  <td>
    <%= button_to 'Remove', recipe_recipes_food_path(recipe_id: @recipe, id: recipe_food), method: :delete %>
  </td>
</tr>
