<h1>Add New Food</h1>

<%= form_with(model: @food, url: foods_path) do |form| %>
    <div class="form-post">
    <div class="label1">
    <%= form.label :name %>
    <%= form.text_field :name %>
    </div>
    <div class="label2">
    <%= form.label :Measurement_Unit %> 
    <%= form.text_field :measurement_unit %>
    </div>
     <div class="label2">
    <%= form.label :price %> 
    <%= form.text_field :price %>
    </div>
<div class="post-btn">
<p><%=form.submit "Create Food", class:"new-btn"%></p>
</div>
</div>
<% end %>

<%= flash[:error] %>
